*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,
body{
    height: 100vh;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

/** Estilos do botão **/
.btn1{
    width: 210px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    background: none;
}

button > i.fa-arrow-right{
    font-size: 18px;
    position: relative;
    top: 2px;
    left: 14px;

}
/*****/
/** Estilos do circle/rectangle **/
div.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #9C69E2;
    margin: 45px 10px 0 10px;
}

div.rectangle{
    width: 20px;
    height: 35px;
    border-radius: 10px;
    background: #F063B8;
    margin: 30px 150px 0 0;
}
/*****/
/** Estilos do nav **/
nav.desktop{
    display: flex;
    width: 100%;
    position: relative;
}

nav.mobile{
    display: none;
    width: 100%;
}

nav div.menu-image{
    display: flex;
    position: absolute;
    left: 0;
    top: -8px;
}

nav ul{
    list-style-type: none;
    padding-top: 35px;
    display: inline-block;
    margin: 0 auto;
    list-style-position: inside;
}

nav ul li{
    padding: 0 30px;
    float: left;
}

nav ul li a{
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    color: #4B5D68;
}

nav button{
    border: none;
    margin-top: 18px;
    position: absolute;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.2) ;

    font-weight: 800;
    font-size: 16px;
    transition: 0.2s;
}

nav button:hover{
    background-color: rgba(200, 200, 200, 0.3);
}
/*****/
/** Estilos do about-container **/
.about-container{
    margin: 80px 0;
    position: relative;
}

.text-about{
    width: 48%;
}

.text-about h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    color: #212353;
}

.text-about p{
    max-width: 350px;
    margin: 40px 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text-about button{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: white;

    background-color: rgba(156, 105, 226, 1);
    border: none;
    box-shadow: 0 5px 5px 0 rgb(84, 45, 138);
    transition: 0.2s;
}

.text-about button:hover{
    background-color: rgb(123, 71, 196);
}

.about-container img{
    position: absolute;
    right: 10px;
    top: 50px;
}
/*****/
/** Estilos da div.box-more **/
.box-more{
    width: 80%;
    background-color: rgba(240, 99, 184,0.15);
    border-radius: 30px;
    margin: 180px auto;
    position: relative;
}

.box-more-text{
    width: 45%;
    position: absolute;
    top: 140px;
    right: 50px;
}

.box-more-text h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #212353;
    margin-bottom: 50px;
}

.box-more-text p{
    font-size: 18px;
    line-height: 25px;
    color: #4B5D68;
}
/*****/
/** Estilos da .features **/
.features-title{
    margin: 0 auto;
    width: 700px;
    max-width: 1400px;
}

.features-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    list-style: 40px;
    color: #212353;
    margin: 30px 0;
}

.features-title p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 595px;
    margin: 0 auto;
}

.features-box{
    margin: 50px 0;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.features-content{
    margin-top: 30px;
    margin-bottom: 120px;
    position: relative;
    width: 442px;
    height: 358px;
    background-size: 100% 100%;
}

.features-content img{
    z-index: 2;
    position: absolute;
    top: 80px;
    right: 310px;
}

.features-text{
    z-index: 1;
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(50%,-50%);
}

.features-text h2{
    font-size: 24px;
    line-height: 24px;
    color: #212353;
    padding: 0 2% 35px 2%;
}

.features-text p{
    font-size: 16px;
    line-height: 25px;
    padding: 0 2% 35px 2%;
}

.features-text button{
    width: 140px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #212353;
    text-align: start;
}

.features-text button > i.fa-arrow-right{
    color: #9C69E2;
}
/*****/
/** Posicionamento dos vetores **/
img.vetor1{
    z-index: -1;
    position: absolute;
    top: -86px;
    left: 40px;
}

img.vetor2{
    z-index: -1;
    position: absolute;
    top: -9px;
    left: 130px;
}

img.vetor3{
    z-index: -1;
    position: absolute;
    top: 125px;
    left: 42px;
}

img.vetor4{
    z-index: -1;
    position: absolute;
    top: -42px;
    left: 170px;
}

img.vetor5{
    z-index: -1;
    position: absolute;
    top: -16px;
    left: -122px;
}

img.vetor6{
    z-index: -1;
    position: absolute;
    top: 237px;
    left: 193px;
}
/*****/
/** Estilos da .testimonials **/
.testimonials{
    position: relative;
    width: 100%;
    height: 640px;
    background-color: #9c69e2;
    border-radius: 60px;
}

.testimonials h1{
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
}

.testimonials-box{
    display: inline-block;
    width: 750px;
    height: 350px;
    position: absolute;
    top: 180px;
    left: 110px;

    border-radius: 20px;
    background-color: white;
    box-shadow: 0 20px 0 rgba(94, 42, 167, 0.3);
}

.testimonials-content{
    position: absolute;
    top: 55px;
    left: 50px;
    max-width: 660px;
    min-width: 550px;
    height: 250px;
}

.testimonials-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 45px;
}

.testimonials-text{
    position: absolute;
    top: 50%;
    right: 185px;
    transform: translate(50%,-50%);
    width: 520px;
    height: 80%;
}

.testimonials-text h2{
    position: absolute;
    top: 0;
    left: 0;

    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    color: #212353;
}

.testimonials-text a{
    position: absolute;
    top: 20px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #9C69E2;
}

.testimonials-text p{
    position: absolute;
    top: 60px;

    font-size: 18px;
    line-height: 30px;
    color: #4B5D68;
}

.testimonials-scroll{
    position: absolute;
    top: 565px;
    left: 110px;
    display: flex;
    width: 850px;
    
}

.testimonials-scroll-dots ul{
    list-style-type: none;
    list-style-position: inside;
    display: flex;
}

.testimonials-scroll-dots ul li span{
    display: block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.testimonials-scroll-arrow{
    position: absolute;
    top: -15px;
    right: 0;  
}

.testimonials-scroll-arrow i{
    color: white;
    font-size: 30px; 
    padding: 0 5px;
    cursor: pointer;
}
/*****/
/** Estilos da .coments **/
.contacts{
    margin-top: 140px;
    margin-left: 2%;
    margin-right: 2%;
}

.contacts1{
    position: relative;
    margin-bottom: 50px;
}

.contacts1 h1{
    font-size: 40px;
    line-height: 40px;
    color: #212353;
}

.contacts1 p{
    font-size: 18px;
    line-height: 20px;
    color: #4B5D68;
    margin-top: 30px;
}

.contacts1 button{
    border: none;
    position: absolute;
    top: 24px;
}

.contacts1 button:nth-of-type(1){
    left: 740px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3px;
    background-color: #F063B8;
    transition: 0.2s;
}

.contacts1 button:nth-of-type(1):hover{
    background-color: rgba(214, 19, 136, 0.8);
}

.contacts1 button:nth-of-type(2){
    left: 990px;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.5);
    transition: 0.2s;
}

.contacts1 button:nth-of-type(2):hover{
    background-color: rgba(200, 200, 200, 0.3);
}

.contacts2{
    position: relative;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.contacts2 div.menu-image{
    display: flex;
    position: absolute;
    left: -13px;
    top: -39px;
}

.contacts2-container h1{
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    color: #212353;
    margin-bottom: 50px;
}

.contacts2-container p{
    text-align: left;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #212353;
}

.contacts2-container >  p.weight{
    font-weight: 500;
    margin-bottom: 10px;
}

.contacts2-container h2{
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    color: #212353;
    margin-bottom: 50px;
    padding-top: 8px;
}

.contacts2-container ul{
    list-style-type: none;
    list-style-position: inside;
}

.contacts2-container ul li{
    padding-bottom: 25px;
}

.contacts2-container ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #212353;
}

.contacts2-container a.social-media{
    display: inline-block;
    text-decoration: none;
}

.contacts2-container .fab{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #ccc;
    margin: 5px;
    transition: 0.3s;
}

.contacts2-container .fab:hover{
    background-color:rgb(63, 62, 62);
}
/*****/
/** Estilos do footer **/
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 2%;
}

footer p{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #212353;
}

footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(176, 143, 223, 0.5);
    cursor: pointer;
    color: rgb(138, 74, 228);
    font-size: 30px;
    transition: 0.3s;
}

footer button:hover{
    background-color: rgb(141, 79, 228);
    color: rgb(239, 234, 245);
}
/*****/